<footer class="fs-section-footer bg-color-6">
  <div class="container fs-container-main">
    <div class="row form-group fs-no-margin">
      <div class="col-md-6 ">
        <div class="fs-colum-footer bg-color-7 txt-color-1">
          <div class="fs-footer-title">E-mail:</div>
          <a href="mailto:fernandolucas.2008@hotmail.com?subject=App%20calculo%20de%20férias%20Angular" class="fs-link-footer">
            <div class="fs-footer-description">fernandolucas.2008@hotmail.com</div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="fs-colum-footer bg-color-7 txt-color-1">
          <div class="fs-footer-title">Portifólio:</div>
          <a href="http://fernandodeveloper.com" target="_blank" class="fs-link-footer">
            <div class="fs-footer-description">fernandodeveloper.com</div>
          </a>
        </div>
      </div>
    </div>
    <div class="fs-container-browsers">
      <div class="fs-browsers bg-color-7 txt-color-1">
        <small>Para que consiga aproveitar melhor a aplicação é recomendável que utilizer algum dos navegadores abaixo:</small>
        <div class="fs-container-icons-browsers">
          <a href="https://www.google.com/chrome/browser/desktop/index.html#" target="_blank" class="fs-ancor-browser">
            <div class="fs-icon-browser fs-icon-chrome" title="baixar google chrome">
            </div>
            <small class="fs-title-icon-browser txt-color-1">chrome</small>
          </a>
          <a href="https://www.mozilla.org/pt-BR/firefox/new/?scene=2" target="_blank" class="fs-ancor-browser">
            <div class="fs-icon-browser fs-icon-mozilla" title="baixar mozilla firefox"></div>
            <small class="fs-title-icon-browser  txt-color-1">firefox</small>
          </a>
          <a href="http://www.opera.com/pt-br" target="_blank" class="fs-ancor-browser">
            <div class="fs-icon-browser fs-icon-opera" title="baixar opera"></div>
            <small class="fs-title-icon-browser  txt-color-1">opera</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>