<section [@visibility]="visibility" class="fs-section-modal">
  <div class="fs-content-modal {{bgColorClassSection}}">
    <div class="container fs-container-modal {{bgColorClassContainer}}">
      <div class="fs-head-modal">
        <h2 class="fs-title-modal">{{title}}</h2>
        <div class="fs-btn-close-modal" (click)="closeModal()">&times;</div>
      </div>
      <div class="fs-body-modal">
        <div class="fs-description-modal">{{description}}</div>
        <div #parent></div>
      </div>
    </div>
  </div>
</section>