.description-page {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.title-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-success {
  border-left: 3px solid #33a7d8;
}

.input-error {
  border-left: 2px solid red;
}

.title-result {
  margin-top: 40px;
}

#ct-table {
  opacity: 0;
  visibility: hidden;
}

#ct-table.fadeIn {
  opacity: 1;
  visibility: visible;
  transition: visibility 100ms, opacity 550ms ease-in-out;
}

#ct-table.fadeOut {
  opacity: 0;
  visibility: hidden;
  transition: visibility 600ms, opacity 550ms ease-in-out;
}


.show-table{
display: block;
}
.show-hide{
  display: none;
}

@media(min-width:967px) {
  .title-result {
    margin-top: 0;
  }
}