<div class="fs-container-table">
  <table class="table table-hover">
    <ng-container *ngFor="let line of dataContent; let iL = index">
      <thead class="thead-dark">
        <tr *ngIf='iL == 0'>
          <th *ngFor="let column of dataContent[0]; let iC = index" [ngClass]="dataConfig[iC].aling">{{column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf='iL > 0'>
          <td *ngFor="let column of line; let iC = index" [ngClass]="dataConfig[iC].aling"> {{column }}</td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>