<ng-container>
    <section class="sec-modal-page bg-color-5">
        <div class="container">
            
            <div class="head-modal mb-5">
                <div><ng-content select=".title-modal"></ng-content></div>
                <div *ngIf="buttonClose === 'show'" class="close-modal" (click)="closeModal()">&times;</div>
            </div>

            <div class="body-modal">
                <ng-content #name></ng-content>
            </div>
            
        </div>
    </section>
</ng-container>