<section>
  <div class="section header bg-color-3">
    <div class="container">
      <div class="container-title-main">
        <i class="icon-calculator"></i>
        <h4 class="title-main">Cálcula férias 12/12</h4>
      </div>
    </div>
  </div>
</section>
<section class="section bg-color-3">
  <div class="container">
    <form [formGroup]="formCalculaFerias">
      <div class="row form-group ">
        <div class="col-md-4">
          <div class="row form-group">
            <div class="col-md-12">
              <label class="title-input" for="salario">Valor salário bruto:</label>
              <input
                type="text"
                id="salario"
                class="form-control {{(fbGroup.salario.valid) ? 'fs-input' : 'fs-input-error'}}"
                placeholder="R$0,00"
                formControlName="salario"
                mask="#.##0,00"
                maskReverse="true">
                <fs-validation-message [control]="fbGroup.salario"></fs-validation-message>
            </div>
          </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="title-input" for="horasExtras">Valor médio horas extras ano:</label>
                <input
                  type="text"
                  id="horasExtras"
                  class="form-control {{(fbGroup.horasExtras.valid) ? 'fs-input' : 'fs-input-error'}}"
                  placeholder="R$0,00"
                  formControlName="horasExtras"
                  mask="#.##0,00"
                  maskReverse="true">
                  <fs-validation-message [control]="fbGroup.horasExtras"></fs-validation-message>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="title-input" for="faltas">Qtd. dias falta sem justificativa:</label>
                <input
                  type="number"
                  id="faltas"
                  class="form-control {{(fbGroup.faltas.valid) ? 'fs-input' : 'fs-input-error'}}"
                  placeholder="0"
                  formControlName="faltas"
                  (keyup)="onKeyFalta($event)"
                  mask="99"
                  maskReverse="true">
                  <fs-validation-message [control]="fbGroup.faltas"></fs-validation-message>
              </div>
            </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label class="title-input" for="dias">Qtd. dias férias:</label>
              <input
                type="number"
                id="dias"
                class="form-control {{(fbGroup.dias.valid) ? 'fs-input' : 'fs-input-error'}}"
                placeholder="0"
                formControlName="dias"
                mask="99"
                maskReverse="false">
                <fs-validation-message [control]="fbGroup.dias"></fs-validation-message>
            </div>
        </div>
            <div class="row form-group">
                <div class="col-md-12">
                  <label class="title-input" for="dependentes">Qtd. dependentes:</label>
                  <input
                    type="number"
                    id="dependentes"
                    class="form-control {{(fbGroup.dependentes.valid) ? 'fs-input' : 'fs-input-error'}}"
                    placeholder="0"
                    formControlName="dependentes"
                    mask="99"
                    maskReverse="true">
                    <fs-validation-message [control]="fbGroup.dependentes"></fs-validation-message>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn fs-btn-dark  pull-right"
                    (click)="calcular()"
                    [disabled]="!formCalculaFerias.valid || btnStatus">
                    Calcular
                  </button>

                    <button
                      type="submit"
                      class="btn fs-btn-dark  pull-right fs-margin-right-5"
                      (click)="clean()">
                      Limpar
                    </button>

                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <table class="table table-hover bg-color-1 fs-margin-top25">
              <thead >
                <tr>
                  <th>Nome</th>
                  <th class="text-right">Ref.</th>
                  <th class="text-right">Proventos</th>
                  <th class="text-right">Descontos</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row">
                  <td>Valor Férias</td>
                  <td align="right">{{itemFerias.ref}}</td>
                  <td align="right">{{itemFerias.proventos}} </td>
                  <td align="right">{{itemFerias.descontos}}</td>
                </tr>
                <tr class="table-success">
                    <td>1/3 Férias</td>
                    <td align="right">{{itemFerias1_3.ref}}</td>
                    <td align="right">{{itemFerias1_3.proventos}}</td>
                    <td align="right">{{itemFerias1_3.descontos}}</td>
                  </tr>
                  <tr scope="row">
                      <td (click)="modalShown('modal_1')" class="fs-cursor-pointer">
                        INSS &nbsp;<i class="glyphicon glyphicon-plus-sign txt-color-9"></i>
                      </td>
                      <td align="right">{{itemInss.ref}}</td>
                      <td align="right">{{itemInss.proventos}}</td>
                      <td align="right">{{itemInss.descontos}}</td>
                  </tr>
                  <tr scope="row">
                      <td>IRRF</td>
                      <!-- <td (click)="modalShown('modal_2')" class="fs-cursor-pointer">
                          IRRF &nbsp;<i class="glyphicon glyphicon-plus-sign txt-color-9"></i>
                      </td> -->
                      <td align="right">{{itemIrrf.ref}}</td>
                      <td align="right">{{itemIrrf.proventos}}</td>
                      <td align="right">{{itemIrrf.descontos}}</td>
                  </tr>
                  <tr scope="row">
                      <td class="fs-font-weight-600">Subtotais</td>
                      <td align="right"  class="fs-font-weight-600">{{itemSubTotais.ref}}</td>
                      <td align="right" class="fs-font-weight-600">{{itemSubTotais.proventos}}</td>
                      <td align="right" class="fs-font-weight-600">{{itemSubTotais.descontos}}</td>
                    </tr>
              </tbody>
            </table>
            <div id="fs-container-total" class="row form-group fs-container-total fs-fade-out">
              <div class="col-md-9 fs-total txt-color-5">TOTAL:</div>
              <div class="col-md-3 fs-total txt-color-5">{{vrTotal}}</div>
            </div>
        </div>
      </div>
    </form>
  </div>
</section>
<fs-modal #modal_1
  [bgColorClassSection]="'bg-color-8'"
  [bgColorClassContainer]="'bg-color-1'"
  [idModal]="'modal_1'"
  [title]="'INSS'"
  [description]="'Tabela Atualizada em : 26/12/2017'"
  [modalContent]="modal_Inss">
</fs-modal>
<fs-modal #modal_2
  [bgColorClassSection]="'bg-color-8'"
  [bgColorClassContainer]="'bg-color-1'"
  [idModal]="'modal_2'"
  [title]="'IRRF'"
  [description]="'Tabela Atualizada em : 26/12/2017'"
  [modalContent]="modal_Irrf">
</fs-modal>
