.header {
      border-bottom: 1px solid #ccc;
}

.container-title-main {
      display: flex;
      align-items: center;
}

.title-main {
      padding-left: 2px;
}
.fs-input{
      border-left: solid 3px #777;
}
.fs-input-error {
      border-left: solid 3px rgb(212, 63, 63)
}
.fs-container-total{
      padding: 0 15px;
}
.fs-total{
      text-align: right;
      font-weight: 600;
      padding: 2px 8px;
}
.icon-calculator{
  width: 26px;
  height: 26px;
  background-image: url('../../../../assets/images/calculator.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
