<nav class="navbar navbar-expand-lg navbar-light bg-color-2 ">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><i class="fas fa-home txt-color-5"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/calcula-ferias']">Férias</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/historico/inss']">Inss</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/historico/irrf']">Irrf</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="page-main">
  <div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <fs-footer ></fs-footer>
</section>
