body {
      margin: 0;
      padding: 0;
      font-family: 'open sans', helvetica, sans-serif;
}

.txt-color-1 {
      color: #fff;
}

.bg-color-1 {
      background-color: #fff;
}

.txt-color-2 {
      color: #000;
}

.bg-color-2 {
      background-color: #000;
}

.txt-color-3 {
      color: #eee;
}

.bg-color-3 {
      background-color: #eee;
}

.txt-color-4 {
      color: #333;
}

.bg-color-4 {
      background-color: #333;
}

.txt-color-5 {
      color: #337ab7;
}

.bg-color-5 {
      background-color: #337ab7;
}

.section {
      width: 100%;
      padding: 2%;
}

.title-input {
      font-weight: 200;
      padding: 2px 3px;
      margin: 0;
}

/* custom bootstrap*/
.table>thead>tr>th {
      border-bottom: 2px solid #9d9d9d !important;
      color: #fff !important;
      background-color: #343a40;
      font-weight: 300;
      opacity: .9;
}

.btn.fs-btn-dark{
      color: #fff;
      background-color: #343a40;
      border: 2px solid #343a40;
      font-weight: 600;
      transition: all 350ms ease-in-out;
}

.btn.fs-btn-dark:hover{
      color: #343a40;
      background-color: transparent ;
      font-weight: 600;
}
.fs-margin-top25{
      margin-top: 25px;
}
.fs-margin-right-5{
  margin-right: 5px !important;
}
