body {
      margin: 0;
      padding: 0;
      font-family: 'open sans', helvetica, sans-serif;
}

.txt-color-1 {
      color: #fff;
}

.bg-color-1 {
      background-color: #fff;
}

.txt-color-2 {
      color: #000;
}

.bg-color-2 {
      background-color: #000;
}

.txt-color-3 {
      color: #eee;
}

.bg-color-3 {
      background-color: #eee;
}

.txt-color-4 {
      color: #333;
}

.bg-color-4 {
      background-color: #333;
}

.txt-color-5 {
      color: #337ab7;
}

.bg-color-5 {
      background-color: #337ab7;
}

.txt-color-6 {
      color: #343a40;
}

.bg-color-6 {
      background-color: #343a40;
}
.txt-color-7 {
      color: #5d6b7e;
}

.bg-color-7 {
      background-color: #5d6b7e;
}

.txt-color-8 {
      color: rgba(0,0,0, .7);
}
.bg-color-8 {
      background-color: rgba(0,0,0, .7);
}

.txt-color-9 {
      color: rgb(255, 166, 0);
}

.bg-color-9 {
      background-color: rgb(255, 166, 0);
}

.section {
      width: 100%;
      padding: 2%;
}

.title-input {
      font-weight: 200;
      padding: 2px 3px;
      margin: 0;
}

.fs-margin-top25{
      margin-top: 25px;
}
.fs-margin-right-5{
  margin-right: 5px !important;
}

.fs-font-weight-500{
      font-weight: 600;
}
.fs-font-weight-600{
      font-weight: 600;
}

.fs-fade-out{
     opacity: 0;
     transition: all 450ms ease-in-out;
     -webkit-transition: all 450ms ease-in-out;
     -moz-transition: all 450ms ease-in-out;
     -ms-transition: all 450ms ease-in-out;
     -o-transition: all 450ms ease-in-out;
}

.fs-fade-in{
      opacity: 1;
      transition: all 450ms ease-in-out;
      -webkit-transition: all 450ms ease-in-out;
      -moz-transition: all 450ms ease-in-out;
      -ms-transition: all 450ms ease-in-out;
      -o-transition: all 450ms ease-in-out;
}
.fs-container-main{
  padding: 10px;
}

.fs-cursor-pointer{
      cursor: pointer;
}

.fs-no-margin{
      margin: 0;
}

/* inicio custom bootstrap */

.table>thead>tr>th {
      border-bottom: 2px solid #9d9d9d;
      color: #fff !important;
      background-color: #343a40;
      font-weight: 500;
      opacity: .9;
}

.btn.fs-btn-dark{
      color: #fff;
      background-color: #313944;
      border: 2px solid #313944;
      font-weight: 600;
      transition: all 350ms ease-in-out;
      outline: none;
}

.btn.fs-btn-dark:hover{
      color: #343a40;
      background-color: transparent ;
      font-weight: 600;
}

.btn.fs-btn-dark:disabled{
    color: #fff;
    background-color: #75797d;
    border: 2px solid #75797d;
    font-weight: 600;
}

/* fim custom bootstrap */