/* You can add global styles to this file, and also import other style files */

@import "~@fortawesome/fontawesome-free/css/all.css";
.body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .95rem;
}

.txt-color-1 {
  color: #663399;
}

.bg-color-1 {
  background-color: #663399;
}

.txt-color-2 {
  color: #33a7d8;
}

.bg-color-2 {
  background-color: #33a7d8;
}

.txt-color-3 {
  color: maroon;
}

.bg-color-3 {
  background-color: maroon;
}

.txt-color-4 {
  color: #333;
}

.bg-color-4 {
  background-color: #333;
}

.txt-color-5 {
  color: #fff;
}

.bg-color-5 {
  background-color: #fff;
}

.txt-color-6 {
  color: #4c4d4e;
}

.bg-color-6 {
  background-color: #4c4d4e;
}

.txt-color-7 {
  color: #b7b5b5;
}

.bg-color-7 {
  background-color: #b7b5b5;
}

.txt-color-8 {
  color: rgba(123, 84, 72, 1);
}

.bg-color-8 {
  background-color: rgba(123, 84, 72, 1);
}

.btn-1 {
  background-color: rgba(123, 84, 72, 1);
  color: #fff;
  transition: all 250ms ease-in-out;
}

.btn-1:hover {
  background-color: rgba(123, 84, 72, .9);
  color: #fff;
}

.btn-1.ligth {
  background-color: #fff;
  color: rgba(123, 84, 72, 1);
  border: 1px solid rgba(123, 84, 72, 1);
}

.btn-1.ligth:hover {
  background-color: rgba(123, 84, 72, .2);
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-30 {
  font-size: 30px;
}

.mb-44 {
  margin-bottom: 44px
}

.pd-0{
  padding: 0 !important;
}

.page-main {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field-success {
  border-left: 3px solid #33a7d8;
}

.field-error {
  border-left: 2px solid red;
}

.container-page {
  padding: 30px 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(51, 167, 216, 0.21);
}
.box-gradient{
  position: relative;
  box-sizing: border-box;
  border: 5px solid transparent;
  background-clip: padding-box;
  padding: 5px;
  display: inline-flex;
}
.box-gradient::before{
  content: '';
  position: absolute;
  margin: -5px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background: linear-gradient(to right, #00feec, #0053ff);
  z-index: -1;
}
.txt-gradient{
  background: linear-gradient(to right,#00feec, #0053ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* CUSTOM BOOTSTRAP */
.navbar{
  z-index: 10;
}
.navbar-light .navbar-nav .nav-link {
  color: #dcdcdc;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.form-control::-webkit-input-placeholder {
  color: #bbb;
}

.form-control::-webkit-input-placeholder, .form-control::placeholder {
  color: #bbb;
}