<div class="form-group">
  <div class="d-flex align-items-baseline">
    <label *ngIf="!!label" [attr.for]="id">{{label}}:</label>
    <label *ngIf="!!sigla" [attr.for]="id">{{sigla}}:</label>
    <small class="form-text text-muted ml-1">{{helper}}</small>
  </div>
  <textarea
    rows="5"
    class="form-control {{control.invalid && control.touched ? 'field-error' :  'field-success'}}"
    [ngClass]="classCss"
    [attr.id]="id"
    [attr.type]="type"
    [attr.placeholder]="placeholder"
    [mask]="mask"
    [readonly]="!!isReadOnly"
    [(ngModel)]="value"
    (blur)="onChanges(control.value)"
    >
    </textarea>
    <fs-validation-message [control]="control"></fs-validation-message>
</div>

